@import "variables";

.header {
  background-color: $color-neutral-4;

  &__content {
    display: flex;
    align-items: center;
    height: 60px;
  }

  &__logo {
    margin-top: -6px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 80px;
    font-family: $ff-text-primary;

    &--right {
      justify-content: flex-end;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    &--button {
      height: 100%;
    }
  }

  &__link {
    color: $color-white;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      color: rgba($color: $color-white, $alpha: 0.7);
    }
  }

  &__user {
    color: $color-accent-6;
  }

  &__button {
    height: 100%;
    padding: 10px;
    border: none;
    background-color: $color-accent-5;
    color: $color-white;
    font-size: 18px;

    &:hover {
      color: rgba($color: $color-white, $alpha: 0.7);
      background-color: $color-accent-6;
      cursor: pointer;
    }
  }
}
