<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__logo">
        <app-logo></app-logo>
      </div>
      <!-- <nav class="header__nav" *ngIf="isAuthenticated; else auth"> -->
      <nav
        class="header__nav"
        *ngIf="authService.user$ | async as user; else auth"
      >
        <ul class="header__list">
          <li class="header__item">
            <a
              class="header__link"
              [routerLink]="['/todos']"
              routerLinkActive="router-link-active"
              >My Todos</a
            >
          </li>
        </ul>
        <ul class="header__list">
          <li class="header__item">
            <span class="header__user">
              {{ user.email }}
            </span>
          </li>
          <li class="header__item header__item--button">
            <button class="header__button" (click)="logout()">Logout</button>
          </li>
        </ul>
      </nav>

      <ng-template #auth>
        <nav class="header__nav header__nav--right">
          <ul class="header__list">
            <li class="header__item">
              <a class="header__link" [routerLink]="['/auth/login']">Login</a>
            </li>
            <li class="header__item">
              <a class="header__link" [routerLink]="['/auth/register']"
                >Register</a
              >
            </li>
          </ul>
        </nav>
      </ng-template>
    </div>
  </div>
</header>
