<header>
  <div class="container">
    <div class="inner">
      <div>
        <a class="logo-link" [routerLink]="['/']">TodoList</a>
      </div>
      <nav>
        <ul *ngIf="authService.user$ | async as user; else auth">
          <li>
            {{ user | json }}
          </li>
          <li>
            <button (click)="logout()">Logout</button>
          </li>
        </ul>
        <ng-template #auth>
          <ul>
            <li>
              <a class="auth-link" [routerLink]="['/login']">Login</a>
            </li>
            <li>
              <a class="auth-link" [routerLink]="['/register']">Register</a>
            </li>
          </ul>
        </ng-template>
      </nav>
    </div>
  </div>
</header>
