@import "variables";

header {
  background-color: $color-primary-3;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

a {
  font-size: 24px;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-family: $ff-text-primary;
}

li {
  margin-left: 40px;
}

.logo-link {
  display: block;
  font-size: 32px;
  font-family: "Lobster", cursive;
  color: $color-white;
}

.auth-link {
  // color: $color-neutral-1;
  color: $color-white;
  font-size: 18px;
  &:hover {
    color: rgba($color: $color-white, $alpha: 0.7);
  }
}
