<form
  class="form todo-edit"
  [formGroup]="editTodoForm"
  (ngSubmit)="onSubmit(editTodoForm.value)"
>
  <label class="form__label" [for]="'name-edit-' + todo.id">Task</label>
  <input
    class="form__input"
    type="text"
    formControlName="name"
    [id]="'name-edit-' + todo.id"
  />
  <label class="form__label" [for]="'date-edit-' + todo.id"
    >Deadline (optional)</label
  >
  <input
    class="form__input"
    type="date"
    formControlName="deadline"
    [id]="'date-edit-' + todo.id"
  />
  <label class="form__label" [for]="'priority-edit-' + todo.id">Priority</label>
  <select
    class="form__input"
    formControlName="priority"
    [id]="'priority-edit-' + todo.id"
  >
    <option value="high">High</option>
    <option value="medium">Medium</option>
    <option value="low">Low</option>
  </select>
  <button class="button" type="submit">Confirm</button>
</form>
