@import "variables";

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    width: 500px;
    margin-top: 20px;
    box-shadow: $box-shadow-primary;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0;
    border: none;
    background-color: $color-white;
    cursor: pointer;
  }

  &__icon {
    font-size: 40px;
    &--plus {
      color: $color-primary-4;
    }

    &--minus {
      color: $color-danger;
    }
  }
}
