<div class="container">
  <div class="login">
    <form
      class="form login__form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm.value)"
    >
      <span class="form__title">Sign in to your account</span>
      <label class="form__label" for="email">
        Email
      </label>
      <input
        class="form__input"
        id="email"
        name="email"
        type="email"
        formControlName="email"
      />
      <label class="form__label" for="password">
        Password
      </label>
      <input
        class="form__input"
        id="password"
        name="password"
        type="password"
        formControlName="password"
      />
      <div *ngIf="error" class="error">
        {{ error }}
      </div>
      <button class="button" type="submit">Continue</button>
    </form>
  </div>
</div>
