// Colors
$color-primary-1: #003e6b;
$color-primary-2: #0a558c;
$color-primary-3: #0f609b;
$color-primary-4: #186faf;
$color-primary-5: #2680c2;
$color-primary-6: #4098d7;
$color-primary-7: #62b0e8;
$color-primary-8: #84c5f4;
$color-primary-9: #b6e0fe;
$color-primary-10: #dceefb;
$color-neutral-1: #102a43;
$color-neutral-2: #243b53;
$color-neutral-3: #334e68;
$color-neutral-4: #486581;
$color-neutral-5: #627d98;
$color-neutral-6: #829ab1;
$color-neutral-7: #9fb3c8;
$color-neutral-8: #bcccdc;
$color-neutral-9: #d9e2ec;
$color-neutral-10: #f0f4f8;
$color-accent-1: #8d2b0b;
$color-accent-2: #b44d12;
$color-accent-3: #cb6e17;
$color-accent-4: #de911d;
$color-accent-5: #f0b429;
$color-accent-6: #f7c948;
$color-accent-7: #fadb5f;
$color-accent-8: #fce588;
$color-accent-9: #fff3c4;
$color-accent-10: #fffbea;
$color-white: #fff;

// Fonts
$ff-header-primary: "Bree Serif", serif;
$ff-text-primary: "Lato", sans-serif;
