// Colors
$color-primary-1: #035388;
$color-primary-2: #0b69a3;
$color-primary-3: #127fbf;
$color-primary-4: #1992d4;
$color-primary-5: #2bb0ed;
$color-primary-6: #40c3f7;
$color-primary-7: #5ed0fa;
$color-primary-8: #81defd;
$color-primary-9: #b3ecff;
$color-primary-10: #e3f8ff;
$color-neutral-1: #1f2933;
$color-neutral-2: #323f4b;
$color-neutral-3: #3e4c59;
$color-neutral-4: #52606d;
$color-neutral-5: #616e7c;
$color-neutral-6: #7b8794;
$color-neutral-7: #9aa5b1;
$color-neutral-8: #cbd2d9;
$color-neutral-9: #e4e7eb;
$color-neutral-10: #f5f7fa;
$color-accent-1: #8d2b0b;
$color-accent-2: #b44d12;
$color-accent-3: #cb6e17;
$color-accent-4: #de911d;
$color-accent-5: #f0b429;
$color-accent-6: #f7c948;
$color-accent-7: #fadb5f;
$color-accent-8: #fce588;
$color-accent-9: #fff3c4;
$color-accent-10: #fffbea;
$color-white: #fff;
$color-danger: #cf1124;

// Fonts
$ff-header-primary: "Bree Serif", serif;
$ff-text-primary: "Lato", sans-serif;

// Misc
$box-shadow-primary: rgba(60, 66, 87, 0.32) 0px 7px 14px 0px,
  rgba(0, 0, 0, 0.32) 0px 3px 6px 0px;
