<div class="container">
  <div class="register">
    <form
      class="form register__form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit(registerForm.value)"
    >
      <span class="form__title">Create your TodoList account</span>
      <label class="form__label" for="email">
        Email
      </label>
      <input
        class="form__input"
        id="email"
        name="email"
        type="email"
        formControlName="email"
      />
      <label class="form__label" for="password">
        Password
      </label>
      <input
        class="form__input"
        id="password"
        name="password"
        type="password"
        formControlName="password"
      />
      <div *ngIf="error" class="error">
        {{ error }}
      </div>
      <button class="button" type="submit">Register</button>
    </form>
  </div>
</div>
